*{
  box-sizing: border-box;
}

.side-bar {
  box-sizing: border-box;
  color: $white;
  width: 300px;
  float: left;
  .header {
    background-color: $side_blue_dark;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    .header-box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      }
      &__name {
        display: inline-block;
        font-size: $side_header_font;
        font-weight: bold;
      }
      &__lists {
        display: flex;
        float: right;
        .list {
          display: inline-block;
        }
        .icon {
          color: $white;
          margin-right:4.8px ;
          font-size: $side_header_font;
        }
      }
    }

  .groups {
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    padding: 0 20px;
    overflow: scroll;
    width: 300px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        font-size: $side_group_name;
        color: $white;
      }
      &__message {
        font-size: $side_group_message;
        margin-top: 5px;
        color: $white;
      }
    }
  }
}